* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Karla", sans-serif;
}

.navbar--container {
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  display: flex;
  align-items: center;
  padding: 20px;
}

.navbar--image {
  height: 100%;
  margin: 20px 7px 20px 20px;
}

.navbar--title {
  color: #ffffff;
  font-weight: bold;
  font-size: 21px;
  letter-spacing: -0.1em;
  margin-right: auto;
}

.navbar--subtitle {
  color: #ffffff;
  font-weight: normal;
  font-size: 12px;
  right: 37px;
}
main {
  padding: 30px;
}
.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}
.input--textUp {
  font-family: "Karla", sans-serif;
  border: 1px solid #d5d4d8;
  border-radius: 5px;
  text-indent: 5px;
}

.input--textDown {
  font-family: "Karla", sans-serif;
  border: 1px solid #d5d4d8;
  border-radius: 5px;
  text-indent: 5px;
}

.generateMeme--button {
  grid-column: 1 / -1;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  border-radius: 5px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.1em;
  color: #ffffff;
  font-family: "Karla", sans-serif;
  cursor: pointer;
}
